ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

ul li.movie {
  color: WHITE;
  height:500px;
}

ul li.movie ul li.movieTitle{
  color:BLACK;
  text-align: center;
}

ul li.movie:hover ul li.movieTitle{
  text-decoration: underline;
}

ul li.movie ul img {
  position: relative;
  left:115px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

ul li.movie ul img.clicked {
  opacity: .5;
}

ul li.movie ul li.imdbId {
  position: relative;
  top:-100px;
  left:25px;
}

ul li.movie ul li.year {
  position: relative;
  top:-75px;
  left:25px;
}

td.titles {
  font-weight: bold;
}
