RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteRule ^(.*) /index.html [NC,L]
Header add Access-Control-Allow-Origin "http://localhost:9000"
Header add Access-Control-Allow-Origin "http://http://www.kristdepuydt.be"
