<section id="about" class="about">

  <p><b>“LATEN WE ONZE ZINTUIGEN GEBRUIKEN, VOORAL DE TASTZIN”</b> - T. Yasuda</p>

  <u>OPLEIDING</u>
  <p>Richting Sierkunsten en regentaat plastische kunsten; Instituut Heilige Familie, Brugge<br>
    Hoger kunstonderwijs, specialisatie Keramiek, Sint-Lucasinstituut, Gent</p>
  <u>INITIATIEF</u>
  <ul>
    <li>2010 - organisator en curator project collages@roeselare. Samenwerking met Verbeke Foundation voor een dubbel tentoonstelling in galerie Blomme en de voormalige nationale bank.</li>
    <li>2015 - initiatiefnemer en medeoprichter van het atelier &#x27;Versteende klei&#x27; Kortemark. Een ontmoetingsplaats voor mensen met een passie voor klei.</li>
    <li>Verbonden aan de &#x27;Andere Academie&#x27; Torhout. Een atelier met een opleiding voor mensen met een verstandelijke beperking die aan beeldende kunst willen doen.</li>
  </ul>
  <p></p>
  <u>SELECTIE</u>
  <p>Kunstwedstrijd Klein Sculptuur 2016; Heist-op-den-berg.</p>
  <figure>
  <img src="../images/selectie.jpg" alt="Selectie"/>
  <figcaption>Klein Sculptuur 2016</figcaption>
  </figure>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <!--<img src="/img/profile2.jpg"/>-->
</section>
