<section id="about" class="about">

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a turpis vulputate, dapibus orci a, bibendum
    libero. Nulla dapibus a nibh ac venenatis. Donec ornare laoreet commodo. Etiam dictum hendrerit varius. Duis
    vehicula ultrices nunc eu laoreet. Nunc dolor odio, blandit nec arcu non, dictum maximus mauris. Nam sodales
    at magna ac scelerisque.</p>
  <p>Vivamus tortor turpis, efficitur sed tempus quis, rhoncus et lorem. Maecenas mauris libero, volutpat vitae
    risus a, tincidunt auctor tortor. Cras imperdiet lacus vitae lorem vulputate, non iaculis nibh dapibus. Duis
    convallis molestie lorem, id aliquam diam aliquam ut. Vivamus orci dolor, iaculis quis interdum et,
    fermentum vitae dolor. In nec mattis urna. Ut viverra nibh sed odio sagittis, non iaculis lectus fermentum.
    Etiam sit amet purus semper, maximus elit sit amet, finibus mauris. Sed lacinia nisl velit, non semper felis
    volutpat in. Vivamus lacinia venenatis odio, ut tempus elit malesuada vel. Integer tincidunt, nibh nec
    egestas auctor, odio leo porttitor lacus, et pellentesque quam dolor ac est.</p>
  <p>
    <u>OPLEIDING</u>
  <p>Richting Sierkunsten en regentaat plastische kunsten; Instituut Heilige Familie, Brugge</p>
  <p>Hoger kunstonderwijs, specialisatie Keramiek, Sint-Lucasinstituut, Gent</p>
  </p>

  <p></p>
  <div id="aboutText">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a turpis vulputate, dapibus orci a, bibendum
      libero. Nulla dapibus a nibh ac venenatis. Donec ornare laoreet commodo. Etiam dictum hendrerit varius. Duis
      vehicula ultrices nunc eu laoreet. Nunc dolor odio, blandit nec arcu non, dictum maximus mauris. Nam sodales
      at magna ac scelerisque.</p>
    <p>Vivamus tortor turpis, efficitur sed tempus quis, rhoncus et lorem. Maecenas mauris libero, volutpat vitae
      risus a, tincidunt auctor tortor. Cras imperdiet lacus vitae lorem vulputate, non iaculis nibh dapibus. Duis
      convallis molestie lorem, id aliquam diam aliquam ut. Vivamus orci dolor, iaculis quis interdum et,
      fermentum vitae dolor. In nec mattis urna. Ut viverra nibh sed odio sagittis, non iaculis lectus fermentum.
      Etiam sit amet purus semper, maximus elit sit amet, finibus mauris. Sed lacinia nisl velit, non semper felis
      volutpat in. Vivamus lacinia venenatis odio, ut tempus elit malesuada vel. Integer tincidunt, nibh nec
      egestas auctor, odio leo porttitor lacus, et pellentesque quam dolor ac est.</p>
  </div>
  <!--<img src="/img/profile2.jpg"/>-->
</section>
