<section id="about" class="about">

  <p><b>“LATEN WE ONZE ZINTUIGEN GEBRUIKEN, VOORAL DE TASTZIN”</b> - T. Yasuda</p>

  <u>OPLEIDING</u>
  <p>Richting Sierkunsten en regentaat plastische kunsten; Instituut Heilige Familie, Brugge<br>
    Hoger kunstonderwijs, specialisatie Keramiek, Sint-Lucasinstituut, Gent</p>
  <u>SELECTIE</u>
  <p>Kunstwedstrijd Klein Sculptuur 2016; Heist-op-den-berg.</p>
  <figure>
  <img src="../images/selectie.jpg"/>
  <figcaption>Klein Sculptuur 2016</figcaption>
  </figure>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <!--<img src="/img/profile2.jpg"/>-->
</section>
