<section id="exposities" class="exposities">
  <div class="container">
    <h1>2017</h1>
    <ul>
      <li>
        <p class="title">Manna Kunsthuis</p>
        <p class="location">- Heilige-Geeststraat 3, Brugge</p>
        <p class="date">
          <a href="../images/Exposities/MannaKunsthuis/IMG_1330.JPG" data-lightbox="MannaKunsthuis">(Foto's)</a>
        </p>
        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Exposities/MannaKunsthuis/IMG_1334.JPG" data-lightbox="MannaKunsthuis">
              <img src="../images/Exposities/MannaKunsthuis/IMG_1334.JPG" alt="MannaKunsthuis"/>
            </a></div>
        </div>
        <p class="site"></p>
      </li>
      <li>
        <p class="title">Kunst in het drop ART = TIC 5</p>
        <p class="location">- oc Ter Loo, Bellingen</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li>
        <p class="title">Vanuit de stilte</p>
        <p class="location">- Oude Kerk, Vichte</p>
        <p class="date">
          <a href="../images/Exposities/Vichte/Vichte.JPG" data-lightbox="Vichte">(Foto's)</a>
        </p>
        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Exposities/Vichte/Vichte (1).JPG" data-lightbox="Vichte">
              <img src="../images/Exposities/Vichte/Vichte (1).JPG" alt="Vichte"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Vichte/Vichte (2).JPG" data-lightbox="Vichte">
              <img src="../images/Exposities/Vichte/Vichte (2).JPG" alt="Vichte"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Vichte/Vichte (3).JPG" data-lightbox="Vichte">
              <img src="../images/Exposities/Vichte/Vichte (3).JPG" alt="Vichte"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Vichte/Vichte (4).JPG" data-lightbox="Vichte">
              <img src="../images/Exposities/Vichte/Vichte (4).JPG" alt="Vichte"/>
            </a>
          </div>
        </div>
        <p class="site"></p>
      </li>
      <li class="last">
        <p class="title">Midwinterbeelden</p>
        <p class="location">- Galerij MHK sculpture-art, De Haan</p>
        <p class="date">
          <a href="../images/Exposities/Midwinterbeelden/DSC00956.JPG" data-lightbox="Midwinterbeelden">(Foto's)</a>
        </p>
        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Exposities/Midwinterbeelden/DSC00957.JPG" data-lightbox="Midwinterbeelden">
              <img src="../images/Exposities/Midwinterbeelden/DSC00957.JPG" alt="Midwinterbeelden"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Midwinterbeelden/DSC00958.JPG" data-lightbox="Midwinterbeelden">
              <img src="../images/Exposities/Midwinterbeelden/DSC00958.JPG" alt="Midwinterbeelden"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Midwinterbeelden/DSC00959.JPG" data-lightbox="Midwinterbeelden">
              <img src="../images/Exposities/Midwinterbeelden/DSC00959.JPG" alt="Midwinterbeelden"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Midwinterbeelden/DSC00959_1.JPG" data-lightbox="Midwinterbeelden">
              <img src="../images/Exposities/Midwinterbeelden/DSC00959_1.JPG" alt="Midwinterbeelden"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Midwinterbeelden/DSC00961.JPG" data-lightbox="Midwinterbeelden">
              <img src="../images/Exposities/Midwinterbeelden/DSC00961.JPG" alt="Midwinterbeelden"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Midwinterbeelden/DSC00993.JPG" data-lightbox="Midwinterbeelden">
              <img src="../images/Exposities/Midwinterbeelden/DSC00993.JPG" alt="Midwinterbeelden"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Midwinterbeelden/DSC00994.JPG" data-lightbox="Midwinterbeelden">
              <img src="../images/Exposities/Midwinterbeelden/DSC00994.JPG" alt="Midwinterbeelden"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Midwinterbeelden/DSC00995.JPG" data-lightbox="Midwinterbeelden">
              <img src="../images/Exposities/Midwinterbeelden/DSC00995.JPG" alt="Midwinterbeelden"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Midwinterbeelden/DSC00996.JPG" data-lightbox="Midwinterbeelden">
              <img src="../images/Exposities/Midwinterbeelden/DSC00996.JPG" alt="Midwinterbeelden"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Exposities/Midwinterbeelden/DSC00997.JPG" data-lightbox="Midwinterbeelden">
              <img src="../images/Exposities/Midwinterbeelden/DSC00997.JPG" alt="Midwinterbeelden"/>
            </a>
          </div>
        </div>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2016</h1>
    <ul>
      <li>
        <p class="title">Klein Sculptuur</p>
        <p class="location">- cc Zwaneberg, Heist-op-den-berg</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li>
        <p class="title">Knoflook</p>
        <p class="location">- Kunst-wandeling, Heule</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li>
        <p class="title">Atelier Priv&eacute;</p>
        <p class="location">- Ieper</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li>
        <p class="title">Kunstroute</p>
        <p class="location">- Kortemark</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li class="last">
        <p class="title">Galerij Sabine Van Paemel</p>
        <p class="location"></p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2015</h1>
    <ul>
      <li class="last">
        <p class="title">Kunstroute</p>
        <p class="location">- Kortemark</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2014</h1>
    <ul>
      <li>
        <p class="title">Groepstentoonstelling</p>
        <p class="location">- Garemijnzaal, Brugge</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li class="last">
        <p class="title">Kunstroute</p>
        <p class="location">- Kortemark</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2013</h1>
    <ul>
      <li class="last">
        <p class="title">Kunstroute</p>
        <p class="location">- Kortemark</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2012</h1>
    <ul>
      <li class="last">
        <p class="title">PAND 33</p>
        <p class="location">- Rotselaar</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2011</h1>
    <ul>
      <li class="last">
        <p class="title">Kunstroute</p>
        <p class="location">- Kortemark</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2009</h1>
    <ul>
      <li class="last">
        <p class="title">Museum Blomme</p>
        <p class="location">- Roeselare</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2008</h1>
    <ul>
      <li>
        <p class="title">De Drempel Zeven</p>
        <p class="location">- Wevelgem</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li>
        <p class="title">De Bieloft</p>
        <p class="location">- Roeselare</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
      <li class="last">
        <p class="title">Museum Blomme</p>
        <p class="location"> - Roeselare</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>

    <h1>2007</h1>
    <ul>
      <li class="last">
        <p class="title">cc De Brouckere</p>
        <p class="location">- Torhout</p>
        <p class="date"></p>
        <p class="site"></p>
      </li>
    </ul>
  </div>
</section>
