<section id="exposities" class="exposities" ng-app="kristDepuydt" ng-controller="expositiesCtrl">
  <div class="container">
    <div ng-repeat="expositiePerYear in expositiesCtrl.expositiesPerYear">
      <h1>{{expositiePerYear.year}}</h1>
      <ul>
        <li ng-repeat="expositie in expositiePerYear.exposities"
            ng-class="$index == expositiePerYear.exposities.length - 1 ? 'last' : ''">
          <p class="title">{{expositie.name}}</p>
          <p class="location" ng-show="expositie.description !== ''">- {{expositie.description}}</p>
          <p class="date" ng-if-start="expositie.hasPhotos == true">
            <a href="{{expositie.photos.$$state.value[0]}}" data-lightbox="{{expositie.name}}" data-title="{{expositie.name}}">(Foto's)</a>
          </p>
          <div class="extraBeelden" ng-if-end>
            <div class="beeld" ng-repeat="photo in expositie.photos.$$state.value" ng-if="$index > 0">
              <a href="{{photo}}" data-lightbox="{{expositie.name}}" data-title="{{expositie.name}}">
                <img src="{{photo}}" alt="{{expositie.name}}"/>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
