<section id="photosKeramiek" class="photos">
  <div class="container">
    <ul>
      <li class="image">
        <a href="../images/Projecten/IMG_7005.JPG" data-lightbox="1" data-title="On-macht">
          <img src="../images/Projecten/IMG_7005.JPG" alt="Projecten"/>
        </a>
      </li>
      <li class="image">
        <a href="../images/Projecten/IMG_7021.JPG" data-lightbox="1" data-title="On-macht">
          <img src="../images/Projecten/IMG_7021.JPG" alt="Projecten" data-lightbox="1"/>
        </a>
      </li>
      <li class="image">
        <a href="../images/Projecten/IMG_7036.JPG" data-lightbox="1" data-title="On-macht">
          <img src="../images/Projecten/IMG_7036.JPG" alt="Projecten" data-lightbox="1"/>
        </a>
      </li>
      <li class="image">
        <a href="../images/Projecten/IMG_7053.JPG" data-lightbox="1" data-title="On-macht">
          <img src="../images/Projecten/IMG_7053.JPG" alt="Projecten" data-lightbox="1"/>
        </a>
      </li>
    </ul>
  </div>
</section>
