<section id="photos" class="photos">
  <div class="container">
    <ul>
      <li class="image">
        <a href="../images/Sculptuur/Aposteleas/Apostelea's (1).JPG" data-lightbox="Aposteleas"
           data-title="Apostelea 1">
          <img src="../images/Sculptuur/Aposteleas/Apostelea's (1).JPG"/>
        </a>
        <p class="SculptuurSummary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper in lectus at vestibulum. Morbi
          lectus arcu, tempor sit amet felis nec, efficitur laoreet mi. Integer ultricies justo est, ut faucibus nibh
          malesuada ornare. Aenean dolor ex, aliquam sit amet diam ut, rhoncus iaculis nisi. Duis placerat magna massa,
          non congue urna imperdiet tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos himenaeos.
        </p>
        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Sculptuur/Aposteleas/Apostelea's (1.1).JPG" data-lightbox="Aposteleas"
               data-title="Apostelea 1">
              <img src="../images/Sculptuur/Aposteleas/Apostelea's (1.1).JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Sculptuur/Aposteleas/Apostelea's (2).JPG" data-lightbox="Aposteleas"
               data-title="Apostelea 2">
              <img src="../images/Sculptuur/Aposteleas/Apostelea's (2).JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Sculptuur/Aposteleas/Apostelea's (3).JPG" data-lightbox="Aposteleas"
               data-title="Apostelea 3">
              <img src="../images/Sculptuur/Aposteleas/Apostelea's (3).JPG"/>
            </a>
          </div>
          <div class="beeld">
            <a href="../images/Sculptuur/Aposteleas/Apostelea's (4).JPG" data-lightbox="Aposteleas"
               data-title="Apostelea 3">
              <img src="../images/Sculptuur/Aposteleas/Apostelea's (4).JPG"/>
            </a>
          </div>
        </div>
      </li>
      <li class="image">
        <a href="../images/Sculptuur/Beschaving/Beeld-in-Beeld.jpg" data-lightbox="Beeld-in-beeld"
           data-title="Beeld-in-beeld">
          <img src="../images/Sculptuur/Beschaving/Beeld-in-Beeld.jpg"/>
        </a>
        <p class="SculptuurSummary">
          BEELD-in-BEELD
          Uit aarde gemaakt, een subtiel evenwicht tussen een restant van een antieke beschaving en samen gekneed tot
          een eigentijds figuratief beeld.
          Beelden verbeelden, afzonderlijk of dubbel, de monumentale keramiek zoekt de ruimte op. Op de grens van de
          materie afzonderlijk versteend, ingekleurd als één geheel. Gebakken in de aarde, uniek en onvoorspelbaar.
        </p>
        <div class="extraBeelden">
        </div>
      </li>
      <li class="image">
        <a href="../images/Sculptuur/Keramiek Liggende Man/keramiek liggende man.jpg"
           data-lightbox="KeramiekLiggendeMan" data-title="Keramiek Liggende Man">
          <img src="../images/Sculptuur/Keramiek Liggende Man/keramiek liggende man.jpg"/>
        </a>
        <p class="SculptuurSummary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper in lectus at vestibulum. Morbi
          lectus arcu, tempor sit amet felis nec, efficitur laoreet mi. Integer ultricies justo est, ut faucibus nibh
          malesuada ornare. Aenean dolor ex, aliquam sit amet diam ut, rhoncus iaculis nisi. Duis placerat magna massa,
          non congue urna imperdiet tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos himenaeos.
        </p>
        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Sculptuur/Keramiek Liggende Man/keramiek liggende man 1.jpg"
               data-lightbox="KeramiekLiggendeMan" data-title="Keramiek Liggende Man">
              <img src="../images/Sculptuur/Keramiek Liggende Man/keramiek liggende man 1.jpg"/>
            </a>
          </div>
        </div>
      </li>
      <li class="image">
        <a href="../images/Sculptuur/Morfe/Morfe (1).jpg" data-lightbox="Morfe" data-title="Morfe">
          <img src="../images/Sculptuur/Morfe/Morfe (1).jpg"/>
        </a>
        <p class="SculptuurSummary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper in lectus at vestibulum. Morbi
          lectus arcu, tempor sit amet felis nec, efficitur laoreet mi. Integer ultricies justo est, ut faucibus nibh
          malesuada ornare. Aenean dolor ex, aliquam sit amet diam ut, rhoncus iaculis nisi. Duis placerat magna massa,
          non congue urna imperdiet tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos himenaeos.
        </p>
        <div class="extraBeelden">
          <div class="beeld">
            <a href="../images/Sculptuur/Morfe/Morfe (2).jpg" data-lightbox="Morfe" data-title="Morfe">
              <img src="../images/Sculptuur/Morfe/Morfe (2).jpg"/>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
