<section id="photos" class="photos">
  <div class="container">
  <ul>
    <li class="image">
      <a href="../images/Sculptuur/Aposteleas/IMG_4335.JPG" data-lightbox="Aposteleas">
        <img src="../images/Sculptuur/Aposteleas/IMG_4335.JPG"/>
      </a>
      <div class="extraBeelden">
        <div class="beeld">
          <a href="../images/Sculptuur/Aposteleas/IMG_5931.JPG" data-lightbox="Aposteleas">
            <img src="../images/Sculptuur/Aposteleas/IMG_5931.JPG"/>
          </a>
        </div>
        <div class="beeld">
          <a href="../images/Sculptuur/Aposteleas/IMG_5936.JPG" data-lightbox="Aposteleas">
            <img src="../images/Sculptuur/Aposteleas/IMG_5936.JPG"/>
          </a>
        </div>
        <div class="beeld">
          <a href="../images/Sculptuur/Aposteleas/IMG_5955.JPG" data-lightbox="Aposteleas">
            <img src="../images/Sculptuur/Aposteleas/IMG_5955.JPG"/>
          </a>
        </div>
        <div class="beeld">
          <a href="../images/Sculptuur/Aposteleas/IMG_5963.JPG" data-lightbox="Aposteleas">
            <img src="../images/Sculptuur/Aposteleas/IMG_5963.JPG"/>
          </a>
        </div>
        <div class="beeld">
          <a href="../images/Sculptuur/Aposteleas/IMG_5964.JPG" data-lightbox="Aposteleas">
            <img src="../images/Sculptuur/Aposteleas/IMG_5964.JPG"/>
          </a>
        </div>
        <div class="beeld">
          <a href="../images/Sculptuur/Aposteleas/keramiek liggende man 1.jpg" data-lightbox="Aposteleas">
            <img src="../images/Sculptuur/Aposteleas/keramiek liggende man 1.jpg"/>
          </a>
        </div>
        <div class="beeld">
          <a href="../images/Sculptuur/Aposteleas/keramiek liggende man 2.jpg" data-lightbox="Aposteleas">
            <img src="../images/Sculptuur/Aposteleas/keramiek liggende man 2.jpg"/>
          </a>
        </div>
        <div class="beeld">
          <a href="../images/Sculptuur/Aposteleas/keramiek liggende man.jpg" data-lightbox="Aposteleas">
            <img src="../images/Sculptuur/Aposteleas/keramiek liggende man.jpg"/>
          </a>
        </div>
      </div>
    </li>
    <li class="image">
      <a href="../images/Sculptuur/Beschaving/JVB_20150608_164616-HR (1).jpg" data-lightbox="Beschaving">
        <img src="../images/Sculptuur/Beschaving/JVB_20150608_164616-HR (1).jpg"/>
      </a>
      <div class="extraBeelden">
      </div>
    </li>
    <li class="image">
      <a href="../images/Sculptuur/Morfe/DSC_0897 (1).jpg" data-lightbox="morfe">
        <img src="../images/Sculptuur/Morfe/DSC_0897 (1).jpg"/>
      </a>
      <div class="extraBeelden">
        <div class="beeld">
          <a href="../images/Sculptuur/Morfe/DSC_0905.jpg" data-lightbox="morfe">
            <img src="../images/Sculptuur/Morfe/DSC_0905.jpg"/>
          </a>
        </div>
      </div>
    </li>
  </ul></div>
</section>
